<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h4>Company</h4>
                <a href="#about">About</a>
                <a href="#partner-program">Partner Program</a>
                <a href="#contact">Contact</a>
            </div>
            <div class="footer-section">
                <h4>Product</h4>
                <a href="#pricing">Pricing</a>
                <a href="#features">Features</a>
                <a href="#integrations">Integrations</a>
            </div>
            <div class="footer-section">
                <h4>Resources</h4>
                <a href="blog.html">Blog</a>
                <a href="docs/whitepaper-v0.pdf" target="_blank">Whitepaper</a>
            </div>
        </div>

        <div class="footer-bottom-section">
            <div class="footer-left">
                <div class="footer-socials">
                    <a href="https://twitter.com/surfehq" class="social-link" title="Twitter" target="_blank">
                        <i data-lucide="twitter"></i>
                    </a>
                    <a href="https://facebook.com/surfehq" class="social-link" title="Facebook" target="_blank">
                        <i data-lucide="facebook"></i>
                    </a>
                    <a href="https://linkedin.com/company/surfe" class="social-link" title="LinkedIn" target="_blank">
                        <i data-lucide="linkedin"></i>
                    </a>
                    <a href="https://instagram.com/surfehq" class="social-link" title="Instagram" target="_blank">
                        <i data-lucide="instagram"></i>
                    </a>
                </div>
                <div class="footer-contact">
                    <p class="email-text">Say 👋 at <a href="mailto:support@veilcrm"
                            class="email-link">support@veilcrm</a></p>
                </div>
            </div>

            <form id="sib-form" onsubmit="submitNewsletterForm(event)">
                <div style="padding: 8px 0;">
                    <div class="sib-form-block">
                        <h3 class="newsletter-title">Join our newsletter to stay up to date on features and releases.
                        </h3>
                    </div>
                </div>
                <div style="padding: 8px 0;">
                    <div class="newsletter-form-wrapper">
                        <div class="form__entry entry_block">
                            <div class="form__label-row">
                                <div class="entry__field">
                                    <input class="newsletter-input" type="text" id="EMAIL" name="EMAIL"
                                        autocomplete="off" placeholder="Email" data-required="true" required />
                                </div>
                            </div>
                            <button class="newsletter-button" type="submit">
                                Sign Up
                            </button>
                        </div>
                    </div>
                </div>
                <p class="newsletter-disclaimer">
                    By subscribing you agree to with our <a href="policies.html#privacy">privacy policy</a> and provide
                    consent to receive updates from our company.
                </p>
            </form>

            <div id="error-message" class="sib-form-message-panel" style="display: none;">
                <div class="sib-form-message-panel__text">
                    There was an error submitting the form. Please try again.
                </div>
            </div>
            <div id="success-message" class="sib-form-message-panel" style="display: none;">
                <div class="sib-form-message-panel__text">
                    Thanks for subscribing! We'll be in touch soon.
                </div>
            </div>

            <!-- <figure class="footer-image">
                <img src="/api/placeholder/464/300" alt="Footer illustration" width="249" height="300" loading="lazy">
            </figure> -->
        </div>

        <div class="footer-badges">
            <div class="badge">
                <img src="image/badges/base-logo.png" alt="Base Partner Badge" width="80" height="30" loading="lazy">
            </div>
            <div class="badge">
                <img src="image/badges/solana-logo.png" alt="Solana Partner Badge" width="80" height="30"
                    loading="lazy">
            </div>
            <div class="badge">
                <img src="image/badges/GDPR-1.png" alt="G2 Leader Summer 2023 Badge" width="80" height="30"
                    loading="lazy">
            </div>
            <div class="badge">
                <img src="image/badges/ISO-1.png" alt="G2 Leader Fall 2023 Badge" width="80" height="30" loading="lazy">
            </div>
        </div>

        <div class="footer-links">
            <a href="policies.html#contact">Contact Us</a>
            <a href="policies.html#security">Security</a>
            <a href="policies.html#compliance">Compliance</a>
            <a href="policies.html#ipr">IPR Complaints</a>
            <a href="policies.html#privacy">Privacy Policy</a>
            <a href="policies.html#cookie">Cookie Policy</a>
            <a href="policies.html#terms">Terms of Service</a>
            <a href="policies.html#antispam">Anti-spam Policy</a>
            <a href="policies.html#gdpr">GDPR Compliance</a>
            <a href="policies.html#abuse">Abuse Policy</a>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2025, Veil. All Rights Reserved.</p>
        </div>

    </div>
</footer>