<header>
    <nav class="nav-container">
        <!-- <div class="logo">Veil CRM</div> -->
        <a href="/" class="logo">Veil CRM</a>
        <div class="nav-links">
            <a href="/#features">Features</a>
            <a href="/#integrations">Integrations</a>
            <a href="/#pricing">Pricing</a>
            <div class="dropdown">
                <button class="dropdown-toggle">
                    Resources
                    <i data-lucide="chevron-down"></i>
                </button>
                <div class="dropdown-menu">
                    <a href="blog.html">Blog</a>
                    <a href="docs/whitepaper-v0.pdf" target="_blank">Whitepaper</a>
                </div>
            </div>
            <a href="https://pump.fun/coin/5J6bvnGU7jKcdT9NQfwNwrWu8skDjETfe7fG5LDapump" class="btn-tertiary link mobile-only">Buy $VEILCRM</a>
        </div>
    </nav>
</header>